.time_table_wrapper {
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  overflow: hidden;
  border: 2px solid #CBD5E1;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

.day {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  position: relative;
  background-color: #fff;
  background-image: linear-gradient(rgba(0,0,0,.08) 50%, transparent 50%);
}

.day_title {
  background-color: rgb(18, 29, 53);
  font-size: .7rem;
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  z-index: 2;
}

.hour {
  background-color: rgb(18, 29, 53);
  font-size: 12px;
  text-align: center;
  width: 5rem;
}

.event {
  position: absolute;
  width: 100%;
  background-color: rgb(65, 87, 138);
  font-size: .7em;
  font-weight: 300;
  justify-content: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.event_info {
  line-height: initial;
  text-align: center;
}
